@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800,900&subset=latin-ext');

* {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	margin: 0;
	color: #FFFFFF;
}

button {
    font-family : inherit;
    font-size: 1em;
	font-weight: 700;
}

nav ul {
	text-align: center;
	float: right;	
}

nav ul li {
	float: left;
	display: inline-block;
	padding: 10px;
	font-size: 15px;
}

nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
}

.hero {
	background: url(../img/hero.jpg);
	height: 100%;
	background-size: cover;
	background-position-y: 75%;
}

.blue-line {
	height: 10px;
	background: #00636c;
	margin-bottom: 30px;	
}

.slogan {
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	height: 70%;
}

.slogan h1 {
	font-size: 75px;	
	font-weight: 700;
}

.slogan p {
	font-size: 50px;	
	font-weight: 400;
}

.bck {
	background: rgba(0, 0, 0, 0.7);
	height: 100vh;
}

.logo {
	float:left;
	height: 120px;
	width: 120px;
	background: url(../img/logo.png);
	background-size: cover;
}

.start {
	height: 50px;
	width: 200px;
	background: none;
	color: #FFF;
	border: 2px solid #FFF;
	cursor: pointer;
}

.about {
	height: 500px;
	color: #000;
}

.about h2 {
	font-size: 40px;
	margin: 0;
	padding-bottom: 20px;
}

.about-flex {
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px 50px;
}

.about-photo {
	background: url(../img/about.jpg);
	background-size: cover;
	height: 500px;
	color: #fff;
	text-align: center;
}

.about-photo h2 {
	padding: 0;
	font-weight: 300;
}
